.custom-answer {
  border: 1px solid #d9d9d9;
  margin-bottom: 0.1rem;
  padding: 0.5rem
}

.card {
  border: 1px solid #d9d9d9;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.correct-color {
  background-color: #80ffbf
}

.incorrect-color {
  background-color: #ff9999
}

.custom-spin{
  width: 75px;
  height: 75px;
}
